/* Styles for dynamically rendered HTML content in CourseUpdateBanner */
.course-update-content {
  /* Paragraph styles */
  p {
    margin: 0 !important;
    color: inherit;
  }
  
  /* Link styles */
  a {
    font-weight: 600 !important;
    text-decoration: none !important;
    color: #7839EE !important;
  }
  
}
